* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #000;
}
/*SOMENTE HEADER*/
header {
    width: 70%;
    border-radius: 12px;
    margin: 0.5em auto;
    padding: 0.5em;
    text-align: center;
    background: linear-gradient(70deg, #FFA500, #c5850d, #ffc04b);
    background-size: 400% 400%;
    background-color: #FFA500;
    animation: gradientAnimation 15s ease infinite;
}
header > h1 {
    color: white;
    display: inline-block;
    animation: moveLetters 3s ease-in-out infinite;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@keyframes moveLetters {
        0% {
        transform: translateY(-1.5px);
        }
        50% {
        transform: translateY(1.5px);
        }
        100% {
        transform: translateY(-1.5px);
        }
  }

@keyframes gradientAnimation {
        0% {
        background-position: 0% 50%;
        }
        50% {
        background-position: 100% 50%;
        }
        100% {
        background-position: 0% 50%;
        }
    }

/*SOMENTE HEADER*/

#bgimage {
    background-image: url('../imgs/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    flex: 1;
}

/* CARTAS */

#cartas {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.carta {
    height: 225px;
    width: 150px;
    border-radius: 7px;
    perspective: 1000px;
    margin: 1em auto;
}

.virar {
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    position: relative;
}

.virado{
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    position: relative;
    transform: rotateY(180deg);
}

.frente, .costas {
    position: absolute;
	width: 100%;
	height: 100%;
    backface-visibility: hidden;
}

.frente {
    transform: rotateY(180deg);
}

.frente > img, .costas > img {
    height: 225px;
    width: 150px;
    border-radius: 7px;
}

.tentativas{
    width: 90%;
    margin: 1em auto;
    color: white;
    text-align: center;
}

@media (max-width: 1050px) {
    #cartas {
      grid-template-columns: repeat(4, 1fr);
    }
    .carta, .virar, .virado, .frente, .costas, .frente > img, .costas > img {
        height: 180px;
        width: 120px;
    }
}
@media (max-width: 580px) {
    #cartas {
        grid-template-columns: repeat(3, 1fr);
    }
}
/* CARTAS */

footer {
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    width: 80%;
    margin: 1em auto;
    box-shadow: 0 0 0 rgba(0,0,0,1);
}
footer > div {
    width: 50%;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}
footer > div > p {
    color: white;
}